.buddy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.avatar-selection {
    display: flex;
    flex: 1;
    justify-content: center;
}

.avatar {
    width: 300px;
    height: auto;
}

.inventory-section {
    display: flex;
    flex: 1;
}

.grid {
    background-color:#e97171;
    display: grid;
    grid-template-columns: repeat(4,80px);
    gap: 10px;
}

.cell-container {
    color: black;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}

.cell {
    width: 60px;
    height: 60px;
}

.cell img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}